
body{
   background-color:rgb(139, 212, 255);
}    
div{
   width: 200px;
   height: 300px;
   margin: 20px;
   padding: 10px;
   border: rgb(172, 255, 103) 5px solid;
   background-color: aqua;
}
div:hover{
   background-color: rgb(5, 187, 178);
}